#root {
  margin: 30px;
  padding: 30px;
}

thead {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #443266;
  text-align: left;
}

.wineData {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #000066;
  text-decoration: none;
}

h3 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  color: #443266;
  padding: 10px 0;
}

.backLink {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #443266;
  text-decoration: none;
}
